if (hexo-config('darkmode')) {
  
  ::selection {
    background-color: #fff159;
    color: #555;
  }
  .main {
    background: rgb(64, 64, 64);
  }
  .headband {
    height: 0;
  }
  // mixin header and menu style
  .header-inner {
    padding: 0;
    margin: 0;
    width: 100%;
    .site-brand-container {
      padding: 0;
    }
    .site-meta {
      background: #000;
      background: -webkit-linear-gradient(to left,#434343,#000);
      background: linear-gradient(to left,#434343,#000);
    }
    .brand {
      background: transparent;
    }
    .site-title {
      font-size: 32px;
      color: #fff;
      background: transparent;
    }
    .site-subtitle {
      font-size: 14px;
      color: #fff;
      margin: 0;
    }
    .site-nav {
      .menu {
        margin: 0;
        background: rgba(255, 255, 255, .75);
        padding: 5px;
        box-shadow: 0 10px 10px 0 rgba(0,0,0,.15);
        a {
          color: #222;
        }
      }
    }
    .menu-item-active a, .menu .menu-item a:hover, .menu .menu-item span.exturl:hover {
      background: transparent;
      border-bottom: 1px solid #222 !important;
    }
  }

  .content {
    padding-top:20px;
  }
  .post-block {
    margin-bottom: 20px;
    padding: 30px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.5);
    background-color: #fff;
    .post-title {
      font-size: 26px;
      font-weight: 700;
      color: #555;
      a{
        color: #555;
      }
    }
    .post-meta {
      margin: 10px 0 20px;
    }
    .post-body {
      color: #000;
      font-family: linux biolinum,'noto serif sc',sans-serif;
      blockquote {
        color: #666;
      }
      h1, h2, h3, h4, h5, h6 {
        margin: 20px 0 15px;
        padding: 0;
        font-weight: 700;
        line-height: 1.5;
        font-family: 'noto serif sc',linux biolinum,'noto serif sc',sans-serif;
        color: #4a4a4a;
        border-bottom: 1px solid #eee;
        transition: all .1s ease-in;
        cursor: default;
        &:before {
          position: relative;
          content: '';
          display: inline-block;
          width: 4px;
          height: 2em;
          background: #a166ab;
          left: -30px;
          top: 0.7em;
          transition: all .1s ease-in;
        }
        &:hover {
          border-bottom: 1px solid #a166ab;
          &:before {
            width: 8px;
          }
        }
      }
      h1 {
        font-size: 36px;
      }
      h2 {
        border-bottom: 1px solid #eee;
        padding-top: 10px;
      }
      img{
        transition: all .5s ease;
        box-shadow: 0 0 5px #aaa;
        &.post-image {
          &:hover {
            box-shadow: 0 0 20px #aaa;
          }
        }
      }
      a {
        color: #f74f9e;
        $:active{
          color: #5073b8;
        }
      }
      code {
        padding: 2px 4px;
        color: #d05;
        background: #eee;
        border-radius: 3px;
        box-shadow: 0 0 1px 0 #000;
        margin: 0 4px;
      }
      .highlight-container {
        border-left: 4px solid rgb(61, 126, 154);
      }
      table {
        tbody {
          tr:nth-of-type(odd) {
            background: #f9f9f9;
          }
          tr:hover {
            background: #e8e8e8;
          }
        }
      }
    }
    .post-footer {
      .post-eof {
        display: none;
      }
      .post-nav-item a {
        color: #5073b8;
      }
    }
    .post-button .btn {
      color: #555!important;
      background-color: #fff;
      border-radius: 3px;
      font-size: 16px;
      box-shadow: inset 0 0 8px 0 rgba(0,0,0,.35);
      border: none!important;
      transition-property: unset;
      padding: 0 15px;
    }
    .posts-collapse {
      .collection-title .collection-header {
        color: #363636;
      }
      .collection-year {
        margin: 30px 0;
        .collection-header {
          color: #ef4e7b;
        }
      }
      .post-header {
        &:hover {
          border-color: rgba(161, 102, 171, 1);
        }
      }
      .post-title {
        font-size: 16px;
        font-weight: 400;
        &:hover {
          border-color: rgba(161, 102, 171, 1);
          a {
            color: rgba(161, 102, 171, 1);
          }
        }
        a {
          color: #5073b8;
        }
      }
    }
  }
  .posts-expand .post-title-link::before {
    background: linear-gradient(90deg,#a166ab 0,#ef4e7b 25%,#f37055 50%,#ef4e7b 75%,#a166ab 100%);
  }
  .post-body .image-caption, .post-body .figure .caption {
    margin-top: 20px;
  }

  .category-list-item {
    list-style: decimal;
  }
  .category-list-child {
    .category-list-item {
      list-style: circle;
    }
  }
  .category-list-link {
    color: #f74f9e;
  }
  .post-block .post-body {
    color: #4a4a4a;
  }
  .tag-cloud-tags {
    a {
      color: #f74f9e !important;
    }
  }

}